In [ ]:
# https://nameparser.readthedocs.io/en/latest/usage.html
# https://github.com/agitator/python-nameparser

In [1]:
from nameparser import HumanName
import pandas as pd

In [2]:
df = pd.DataFrame({'Name': ["George P. Pipis", "George Pipis", "Mr. George Prokopios Pipis", "Dr. George Pipis Jr.",
                       "Pipis, George", "Dr. Juan Q. Xavier de la Vega III (Doc Vega)"]})
df

                                           Name
0                               George P. Pipis
1                                  George Pipis
2                    Mr. George Prokopios Pipis
3                          Dr. George Pipis Jr.
4                                 Pipis, George
5  Dr. Juan Q. Xavier de la Vega III (Doc Vega)

In [4]:
df["title"] = df["Name"].apply(lambda x: HumanName(x).title)
df["first"] = df["Name"].apply(lambda x: HumanName(x).first)
df["middle"] = df["Name"].apply(lambda x: HumanName(x).middle)
df["last"] = df["Name"].apply(lambda x: HumanName(x).last)
df["suffix"] = df["Name"].apply(lambda x: HumanName(x).suffix)
df["nickname"] = df["Name"].apply(lambda x: HumanName(x).nickname)
df.drop('Name', axis=1)

  title   first     middle        last suffix  nickname
0        George         P.       Pipis
1        George                  Pipis
2   Mr.  George  Prokopios       Pipis
3   Dr.  George                  Pipis    Jr.
4        George                  Pipis
5   Dr.    Juan  Q. Xavier  de la Vega    III  Doc Vega